body{
	background-image: https://img.wallpaperseveryday.com/picd/92596/450x340.jpg
}

h2 {
	font-family: sans-serif;
	text-align: center;
	color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

table {
	border: 3;
	align-content: center;
}

td {
	color: white;
	
}

p {
	color: white;
	font-family: sans-serif;
}